<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="header.js" defer></script>
    <link rel="stylesheet" href="headfoot.css">
</head>
<body>
<div id="app">
    <div v-if="isView">
    <div><h1>자유게시판</h1></div>
    <div>
        <table>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
            </tr>
            <tr v-for="item in list">
                <td>{{item.BOARDNO}}</td>
                <td>
                    <a @click="boardDetail(item.BOARDNO)" style="cursor: pointer;">{{item.TITLE}}</a>
                    
                </td>
                <td>{{item.ID}}</td>
                <td>{{item.VIEWNO}}</td>
            </tr>
        </table>
    </div>
    <div v-if="isLogin"><a href="write.html"><button @click="fnLoginStatus()">글쓰기</button></a></div>
    </div>
    <div v-if="!isView">
        <div id="board-container">
            <table style="width: 1200px;">
                <tr>
                    <th>글번호: {{ board.BOARDNO }}</th>
                    <th>작성자: {{ board.ID }}</th>
                    <th>조회수: {{ board.VIEWNO }}</th>
                </tr>
            </table>
            <textarea readonly class="board-title">{{ board.TITLE }}</textarea>
            <textarea readonly class="board-contents">{{ board.CONTENTS }}</textarea>
        </div>  
        <a href="board.html" style="display: block; text-align: center; margin: 0 auto; width: 120px;"><button>목록</button></a>        
            <button @click="fnEditRed(board.BOARDNO, board.ID, board.VIEWNO, board.TITLE, board.CONTENTS)">수정</button>
            <button @click="fnDelete(board.BOARDNO)">삭제</button>
        

    </div>
</div>    
</body>
<script src="footer.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                list: [],
                isView: true,
                boardno: {}, 
                board : {},
                isLogin: false
            }
        },
        mounted() {
            this.fngetList();
            this.fnLoginStatus();
        },
        methods: {
            boardDetail(boardno){
                this.isView= !this.isView;
                var self = this;
                $.ajax({
                    url: `http://localhost:3000/boarddetail?boardno=${boardno}`,
                    dataType: "json",
                    type: "GET",
                    data: {}, // 쿼리 파라미터로 전달
                    success: (data) => {
                        console.log(data);
                        self.board = data[0];
                    },
                
                });

            },
            fngetList() {
                var self = this;
                $.ajax({
                    url: 'http://localhost:3000/list',
                    dataType: 'json',
                    type: 'GET',
                    success: function(data) {
                        self.list = data;
                        console.log(data);
                    }
                });
            },
            fnLoginStatus() {
                var self = this;
                if(sessionStorage.getItem("id")!=null){
                    this.isLogin = true;
                }else{
                    this.isLogin = false;
                }
               
                
            },
            fnEditRed(BOARDNO, ID, VIEWNO, TITLE, CONTENTS){
                if(this.board.ID==sessionStorage.getItem("id")){
                    location.href=`board-edit.html?boardno=${BOARDNO}&id=${ID}&viewno=${VIEWNO}&title=${TITLE}&contents=${CONTENTS}`
                }else{
                    return;}
            },
            fnDelete(boardno){
                var self = this;
                if(this.board.ID==sessionStorage.getItem("id")||sessionStorage.getItem('authority')=="A"){
                    $.ajax({
                    url: `http://localhost:3000/board-delete?boardno=${boardno}`,
                    type: 'GET',
                    data:  {},
                    success: function(data) {
                        alert("게시글이 삭제되었습니다");
                        location.href=`board.html`
                    }
                })
                }else{
                    return;
                }
            }
        }
    });
    app.mount('#app');
</script>
</html>